[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
ExecStart=/usr/local/bin/k3s server \
  --token {{ k3s_cluster_token }} \
  --node-taint CriticalAddonsOnly=true:NoExecute \
  --disable-cloud-controller \
  --disable traefik \
  --disable servicelb
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target